.aviso{
    padding: 0;
    margin: 0;
}

.img-div {
    margin:32px auto;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    box-shadow: 5px 5px 5px 5px rgba(19, 0, 0, 0.76);
    border: 3px solid rgb(255, 0, 234);
    border-radius: 10px;
}
.content{
    min-height: 300px;
    max-height: 350px;
    text-align: center;
}
.content p{
    max-width: 300px;
    margin: 30px auto;
    margin-bottom: 0;
    margin-top: 10px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.content img{
    cursor: pointer;
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
}

.content h5{
    margin-top: 10px;
    padding: 10px;
}